:root {
    --background-bunker:  #0F1618;
    --background-footer-pickled_bluewood: #33435E;
    --background-detalles: #4d4d4d;
    --purple-light: #EEEAF2;
    --header-title: #FF0000;
    --color-botones: #0E7C10;
    --color-botones-hover: #507350;
    --text-color: #FDFBFC;
    --texto-botones: #DFF0D8;
    --input-background: #EEEAF2;
    --input-color-placeholder: #AA83C8;
    --input-color: #8B48BF;

    /* buttons Categories */
    --button1: #427645;
    --button2: #3E773C; 
    --button3: #3D773F;
    --button4: #2A7A25;
    --button5: #297A28;
    --button6: #287A2B;
    --button7: #277A2E; 
    --button8: #207B1A;
    --button9: #1F7B1D;
    --button10: #1E7B20;

    --pickled_bluewood: #33435E;
    --jungle_green: #28A17D ;
    --zambezi: #605453;
    /* Second Palette */
    --portage: #9668F5;
    --royal_black: #2A293E;
    --ebony: #040307;
    --capecod: #313D37;
    /* Fuentes */
    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Ubuntu', sans-serif;;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

svg {
    width: 25px;
    height: 25px;
    fill: white;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    background: var(--background-bunker);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-text)
}

section {
    padding: 1vw 0;
}

button {
    background-color: var(--color-botones);
    border: none;
    color: var(--text-color);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text2);
    font-size: 1.2rem;
    cursor: pointer;
}

h1,
h2 {
    font-size: 2.4rem;
    color: var(--text-color);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-title2);
}

h3 {
    color: var(--text-color);
    font-weight: var(--font-weight-text2);
    font-size: 1.6rem;
}

img {
    aspect-ratio: 2 / 3;
}

.scrolling::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrolling::-webkit-scrollbar-button:increment,.scrolling::-webkit-scrollbar-button {
    display: none;
} 

.scrolling::-webkit-scrollbar:horizontal {
    height: 4px;
}

.scrolling::-webkit-scrollbar-thumb {
    background-color: var(--header-title);
    border-radius: 4px;
}

.movie-container--loading {
    background: var(--purple-light);
    border-radius: 5px;
    height: 175px;
    min-height: 175px;
    max-height: 175px;
    width: 117px;
    min-width: 117px;
    max-width: 117px;
    animation: loading-skeleton infinite 5s;
}

.movie-container--loading:nth-child(2) {
    animation-delay: .2s;
}

.movie-container--loading:nth-child(3) {
    animation-delay: .4s;
}

@keyframes loading-skeleton {

    0%,
    100% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }
}

.movie-img {
    height: 175px;
    min-height: 175px;
    max-height: 175px;
    width: 117px;
    min-width: 117px;
    max-width: 117px;
    cursor: pointer;
    border-radius: 5px;
}

.movie-container {
    position: relative;
}

.movie-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 20px;
    width: 20px;
    background: transparent;
    background-image: url(../assets/me-gusta.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

.movie-btn--liked {
    background-image: url(../assets/favorito.png);
}

.menu {
    width: calc(100% - 50px);
    height: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 25px;
    background-color: transparent;
}

#nav {
    width: 50vw;
    height: 27px;
}

#nav ul {
    width: 100%;
    line-height: 25px;
}

#nav li {
    list-style: none;
    position: relative;
    left: -38px;
    background: var(--background-bunker);
}

#nav li li {
    list-style: none;
    position: relative;
    background: var(--background-bunker);
    left: 150px;
    top: -27px;
}

#nav ul li a {
    width: 50vw;
    height: 33px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border: 1px solid #eee;
}

#nav ul ul {
    position: absolute;
    visibility: hidden;
    top: 27px;
}

#nav ul li:hover ul {
    visibility: visible;
}

#nav li:hover {
    background-color: var(--background-footer-pickled_bluewood);
}

#nav ul li:hover ul li a:hover {
    background-color: var(--background-footer-pickled_bluewood);
}

#nav a:hover {
    font-weight: bold;
}

.main-nav {
    position: fixed;
    top: 40px;
    left: 0;
    margin-left: -100%;
    transition: all .2s linear;
    background-color: var(--background-bunker);
    z-index: 100;
}

.main-nav.show {
    margin-left: 0;
}

.header-title {
    color: var(--header-title);
}

.button-menu {
    z-index: 200;
    width: 3rem;
    height: 3rem;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
    transform-origin: left;
}

.button-menu span {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--text-color);
    border-radius: 3px;
    transform-origin: left;
    transition: all .5s linear;
}

.button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
}

.button-menu.close span:nth-child(2) {
    display: none;
}

.button-menu.close span:nth-child(3) {
    transform: rotate(-45deg) translate(-4px, 4px);
}

.container {
    position: relative;
}

.main {
    position: relative;
    border: 2px solid #5F8FA4;
    height: 25px;
    background: #B1BEC6;
    width: 190px;
    border-radius: 50px;
    padding-left: 31px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.3rem;
    color: #303030;
}

.main:focus {
    outline: none;
}

.search {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.search .container {
    align-self: center;
    margin-bottom: 25px;
}

.searchicon {
    position: absolute;
    height: 12px;
    width: 12px;
    background: transparent;
    border: 3px solid #5F8FA4;
    left: 10px;
    top: 8px;
    border-radius: 100%;
}

.searchicon::after {
    content: '';
    position: absolute;
    background: #5F8FA4;
    height: 6px;
    width: 3px;
    bottom: -5px;
    right: -3px;
    transform: rotate(-45deg);
}

.searchPreview-movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 4px;
    padding-bottom: 60px;
}

.iconBack {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 95vw;
}

.backicon {
    position: absolute;
    background: var(--text-color);
    height: 13px;
    width: 3px;
    top: 8px;
    left: 10px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.backicon:after {
    content: '';
    position: absolute;
    background: var(--text-color);
    height: 15px;
    width: 3px;
    bottom: 6px;
    right: -6px;
    transform: rotate(-90deg);
}

.favorites,
.categories,
.movies {
    width: 90vw;    
    padding-bottom: 60px;
}

.favoritesPreview-header,
.playingPreview-header,
.popularPreview-header,
.trendingPreview-header,
.upcomingPreview-header,
.topRatedPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4px;
}

.favoritesPreview-title,
.playingPreview-title,
.popularPreview-title,
.trendingPreview-title,
.upcomingPreview-title,
.topRatedPreview-title,
.relatedMovies-title {
    margin-bottom: 16px;
}

.favoritesMore-btn,
.playingMore-btn,
.popularMore-btn,
.trendingMore-btn,
.upcomingMore-btn,
.topRatedMore-btn {
    border-radius: 5px;
    height: 27px;
    width: 67px;
}

.favoritesMore-btn:hover,
.favoritesMore-btn:focus,
.playingMore-btn:hover,
.playingMore-btn:focus,
.popularMore-btn:hover,
.popularMore-btn:focus,
.trendingMore-btn:hover,
.trendingMore-btn:focus,
.upcomingMore-btn:hover,
.upcomingMore-btn:focus,
.topRatedMore-btn:hover,
.topRatedMore-btn:focus {
    background-color: var(--color-botones-hover);
}

.favoritesPreview-movieList,
.playingPreview-movieList,
.popularPreview-movieList,
.trendingPreview-movieList,
.upcomingPreview-movieList,
.topRatedPreview-movieList,
.genericPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 4px;
    padding-bottom: 12px;
    justify-content: center;
}

.favoritesPreview-movieList .movie-container,
.favoritesPage-movieList .movie-container,
.categoriesPreview-movieList .movie-container,
.playingPreview-movieList .movie-container,
.playingPage-movieList .movie-container,
.popularPreview-movieList .movie-container,
.popularPage-movieList .movie-container,
.trendingPreview-movieList .movie-container,
.trendingPage-movieList .movie-container,
.upcomingPreview-movieList .movie-container,
.upcomingPage-movieList .movie-container,
.topRatedPreview-movieList .movie-container,
.topRatedPage-movieList .movie-container,
.genericPreview-movieList .movie-container,
.genericPage-movieList .movie-container,
.movieDetails-credits-persons .personImg-container,
.relatedPreview-movieList .movie-container,
.searchPreview-movieList .movie-container{
    display: inline-block;
    margin-right: 8px;
}

.favoritesPage-movieList,
.playingPage-movieList,
.popularPage-movieList,
.trendingPage-movieList,
.upcomingPage-movieList,
.topRatedPage-movieList,
.genericPage-movieList {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.categories-title {
    margin-left: 25px;
}

.categoriesPreview-movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 25px;
    margin-top: 25px;
    padding-bottom: 60px;
}

.playing {
    width: 100%;
    padding: 10px;
}

.popular {
    width: 100%;
    padding: 10px;
}

.trending {
    width: 100%;
    padding: 10px;
}

.upcoming {
    width: 100%;
    padding: 10px;
}

.topRated {
    width: 100%;
    padding: 10px;
}

.generic {
    width: 100%;
    padding: 10px;
}

.movieDetails {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 10px;
    padding-bottom: 60px;
}

.movieDetails-image {
    width: 100vw;
    height: 250px;
}

.movieDetails-characteristics {
    width: 100vw;
    height: 30px;
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.movieDetails-title {
    position: absolute;
    text-overflow: ellipsis;
    left: 12px;
}

.movieDetails-score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: var(--text-color);
    background: var(--button1);
    border-radius: 100%;
    position: absolute;
    right: 12px;
}

.movieDetails-duration {
    width: 50vw;
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    margin-left: 12px;
}

.movieDetails-releaseSpan {
    color: var(--text-color);
    font-weight: var(--font-weight-title2);
    border-radius: 8px;
}

.movieDetails-durationSpan {
    color: var(--text-color);
    font-weight: var(--font-weight-title1);
    border-radius: 8px;
}

.movieDetails-statusSpan {
    color: var(--background-detalles);
    font-weight: var(--font-weight-title1);
    border-radius: 8px;
}

.movieDetails-genres {
    width: 100vw;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.genre {
    width: 96px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: var(--font-weight-title2);
    background: var(--button1);
    border-radius: 8px;
}

.movieDetails-description {
    width: 100vw;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    word-break: line-all;
    margin-bottom: 20px;
}

.movieDetails-descriptionSpan {
    width: 90%;
}

.movieDetails-collections {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.movieDetails-collections button {
    width: 50%;
    position: absolute;
    padding: 8px;
    border-radius: 8px;
    bottom: 20px;
    justify-content: center;
}

.movieCollection-img {
    width: 100%;
    height: 250px;
}

.movieDetails-credits {
    width: 100vw;
    height: 220px;
}

.movieDetails-credits-title {
    margin-bottom: 16px;
    padding: 10px 24px;
}

.movieDetails-credits-persons {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 130px;
    padding: 10px 24px;
    justify-content: center;
}

.movieDetails-credits-persons .personImg-container .person-img {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 15%;
    object-fit: fill;
    object-position: 25% 25%;
    cursor: pointer;
}

.movieDetails-credits-persons .personImg-container .personName {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: var(--font-weight-text1);
}

.movieDetails-trailers {
    width: 95vw;
    height: 240px;
    padding: 10px;
}

.movieDetails-trailers-title {
    margin-bottom: 16px;
    padding: 10px 24px;
}

.movieDetails-trailers-trailer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 24px;
    padding-bottom: 16px;
    height: 150px;
}

.movieDetails-trailers-trailer .videoContainer {
    width: 180px;
    display: inline-block;
    margin-right: 8px;
}

.movieDetails-trailers-trailer .videoContainer {
    cursor: pointer;
}

.movieDetails-trailers-trailer .videoContainer .videoTitle {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.moviesRelated {
    width: 95%;
    height: 250px;
    padding: 10px;
}

.relatedPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 180px;
    padding-left: 24px;
    padding-bottom: 16px;
}

.serieDetails {
    width: 100vw;
}

.personDetails {
    width: 100vw;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: var(--background-footer-pickled_bluewood);
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    border: 0 10px;
    bottom: 5px;
    right: 0;
    z-index: 101;
}

.footer svg:hover,
.footer svg:focus {
    fill: var(--color-botones-hover);
}

.inactive {
    display: none;
}

@media screen and (min-width: 768px) {
    .button-menu {
        display: none;
    }

    .menu {
        width: calc(100% - 50px);
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 10px 25px;
        background-color: transparent;
    }

    .main-nav {
        position: static;
    }

    #nav {
        margin: auto;
        width: 20%;
        height: 27px;
    }
    
    #nav ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        line-height: 0;
    }

    #nav li li {
        left: 0px;
    }

    #nav ul li a {
        width: 90px;
        height: 10px;
        border: none
    }

    #nav li a {
        background-color:var(--background-bunker);
        color:var(--text-color);
        text-decoration:none;
        padding:10px 12px;
        display:block;
        border: 2px solid var(--background-bunker);
    }

    #nav li a:hover {
        border-bottom: 2px solid red;
    }

    #nav ul ul {
        display: block;
        position: absolute;
        visibility: hidden;
        width: 100px;
        top: 59px;
        padding: 0;
    }

    #nav ul li:hover ul {
        display:block;
        visibility: visible;
    }

    .containerMnu {
        position: relative;
    }
    
    .mainMnu {
        position: relative;
        border: 2px solid #5F8FA4;
        height: 25px;
        background: #B1BEC6;
        width: 190px;
        border-radius: 50px;
        padding-left: 31px;
        padding-right: 11px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 1.3rem;
        color: #555;
    }
    
    .mainMnu:focus {
        outline: none;
    }
    
    .searchicon {
        position: absolute;
        height: 12px;
        width: 12px;
        background: transparent;
        border: 3px solid #5F8FA4;
        left: 10px;
        top: 8px;
        border-radius: 100%;
    }
    
    .searchicon::after {
        content: '';
        position: absolute;
        background: #5F8FA4;
        height: 6px;
        width: 3px;
        bottom: -5px;
        right: -3px;
        transform: rotate(-45deg);
    }
}