:root {
    --background-bunker:  #0F1618;
    --background-footer-pickled_bluewood: #33435E;
    --background-detalles: #4d4d4d;
    --purple-light: #EEEAF2;
    --header-title: #FF0000;
    --color-botones: #0E7C10;
    --color-botones-hover: #507350;
    --text-color: #FDFBFC;

    /* buttons Categories */
    --button1: #427645;

    --pickled_bluewood: #33435E;
    /* Second Palette */
    /* Fuentes */
    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Ubuntu', sans-serif;;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    font-size: 1.2rem;
    padding: 10px;
    background: var(--background-bunker);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-text)
}

/* Globals */

svg {
    width: 25px;
    height: 25px;
    fill: var(--color-botones);
}

button {
    background-color: var(--color-botones);
    border: none;
    color: var(--text-color);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text2);
    font-size: 1.2rem;
    cursor: pointer;
}

h1,
h2 {
    font-size: 2.4rem;
    color: var(--text-color);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-title2);
}

h3 {
    color: var(--text-color);
    font-weight: var(--font-weight-text2);
    font-size: 1.6rem;
}

h4 {
    color: var(--text-color);
    font-weight: var(--font-weight-text1);
    font-size: 1.4rem;
}

img {
    aspect-ratio: 2 / 3;
}

section {
    width: 100%;
}

.movie-img {
    height: 175px;
    min-height: 175px;
    max-height: 175px;
    width: 117px;
    min-width: 117px;
    max-width: 117px;
    cursor: pointer;
    border-radius: 5px;
}

.movie-container {
    position: relative;
}

.movie-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 20px;
    width: 20px;
    background: transparent;
    background-image: url(../assets/me-gusta.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

.movie-btn--liked {
    background-image: url(../assets/favorito.png);
}

.scrolling::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrolling::-webkit-scrollbar-button:increment,.scrolling::-webkit-scrollbar-button {
    display: none;
}

.scrolling::-webkit-scrollbar:horizontal {
    height: 4px;
}

.scrolling::-webkit-scrollbar-thumb {
    background-color: var(--header-title);
    border-radius: 4px;
}

.movie-container--loading {
    background: var(--purple-light);
    border-radius: 5px;
    height: 175px;
    min-height: 175px;
    max-height: 175px;
    width: 117px;
    min-width: 117px;
    max-width: 117px;
    animation: loading-skeleton infinite 5s;
}

.movie-container--loading:nth-child(2) {
    animation-delay: .2s;
}

.movie-container--loading:nth-child(3) {
    animation-delay: .4s;
}

.movieDetailsRelease {
    color: var(--text-color);
    font-weight: var(--font-weight-title2);
    border-radius: 8px;
}

@keyframes loading-skeleton {

    0%,
    100% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }
}

.genre {
    width: 96px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: var(--font-weight-title2);
    background: var(--button1);
    border-radius: 8px;
}

/* Menu */

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0 auto;
    background-color: transparent;
}

.button-menu {
    z-index: 200;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
    transform-origin: left;
}

.button-menu span {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--text-color);
    border-radius: 3px;
    transform-origin: left;
    transition: all .5s linear;
}

.button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -3px);
}

.button-menu.close span:nth-child(2) {
    display: none;
}

.button-menu.close span:nth-child(3) {
    transform: rotate(-45deg) translate(-4px, 7px);
}

.header-title {
    color: var(--header-title);
}

.main-nav {
    position: fixed;
    top: 40px;
    left: 0;
    margin-left: -100%;
    transition: all .2s linear;
    background-color: transparent;
    z-index: 100;
}

.main-nav.show {
    margin-left: 0;
}

#nav {
    width: 50vw;
    height: 27px;
}

#nav ul {
    width: 150px;
    line-height: 22px;
}

#nav li {
    list-style: none;
    position: relative;
    left: 5px;
    background: transparent;
}

#nav li li {
    list-style: none;
    position: relative;
    background: transparent;
    left: 147px;
    top: -30px;
}

#nav ul li a {
    width: 150px;
    height: 36px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border: 2px solid transparent;
}

#nav ul ul {
    position: absolute;
    visibility: hidden;
    top: 30px;
}

#nav ul li:hover ul {
    visibility: visible;
}

#nav li:hover {
    background-color: var(--background-footer-pickled_bluewood);
}

#nav ul li:hover ul li a:hover {
    background-color: var(--background-footer-pickled_bluewood);
}

#nav li a:hover {
    border-bottom: 2px solid red;
}

#nav a:hover {
    font-weight: bold;
}

.mainMnu {
    position: relative;
    border: 2px solid #5F8FA4;
    height: 25px;
    background: #B1BEC6;
    width: 170px;
    border-radius: 50px;
    padding-left: 31px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.3rem;
    color: #555;
}

.mainMnu:focus {
    outline: none;
}

.header-searchForm {
    position: relative;
}

.header-searchForm .searchicon {
    position: absolute;
    height: 12px;
    width: 12px;
    background: transparent;
    border: 3px solid #5F8FA4;
    left: 7px;
    top: 6px;
    border-radius: 100%;
}

.header-searchForm .searchicon::after {
    content: '';
    position: absolute;
    background: #5F8FA4;
    height: 6px;
    width: 3px;
    bottom: -5px;
    right: -3px;
    transform: rotate(-45deg);
}

.iconBackSection {
    width: 100%;
    margin-bottom: 15px;
}

.iconBack {
    cursor: pointer;
    fill: var(--text-color);
}

/* Movies Main Page */

.movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 10px;
}

.preview {
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 10px;
}

.preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4px;
}

.preview-title {
    margin-bottom: 16px;
}

.more-btn {
    border-radius: 5px;
    height: 27px;
    width: 67px;
}

.more-btn:hover {
    background-color: var(--color-botones-hover);
}

.preview-movieList,
.movieDetails-credits-persons {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 4px;
    padding-bottom: 12px;
}

.movie-container {
    display: inline-block;
    margin-right: 8px;
}

/* Movie Details */

.movieDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 10px;
    padding-bottom: 60px;
}

.movieDetails-image,
.movieCollection-img {
    width: 100%;
    height: 250px;
}

.movieDetails-characteristics {
    width: 100%;
    height: 30px;
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.movieDetails-score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: var(--text-color);
    background: var(--button1);
    border-radius: 100%;
    position: absolute;
    right: 12px;
}

.movieDetails-duration {
    width: 50vw;
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    margin-left: 12px;
}

.movieDetailsDuration {
    color: var(--text-color);
    font-weight: var(--font-weight-title1);
    border-radius: 8px;
}

.movieDetailsStatus {
    color: var(--background-detalles);
    font-weight: var(--font-weight-title1);
}

.movieDetails-genres {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.movieDetails-description {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    word-break: line-all;
    margin-bottom: 20px;
}

.movieDetails-collections {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.movieDetails-collectionsBtn {
    width: 50%;
    position: absolute;
    padding: 8px;
    border-radius: 8px;
    bottom: 20px;
    justify-content: center;
}

.personImg-container {
    display: inline-block;
    margin-right: 8px;
}

.person-img {
    height: 175px;
    min-height: 100px;
    max-height: 175px;
    width: 117px;
    min-width: 100px;
    max-width: 117px;
    border-radius: 15%;
    object-fit: fill;
    object-position: 25% 25%;
    cursor: pointer;
}

.personName {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: var(--font-weight-text1);
}

/* Generic */

.personDetails,
.collectionDetails {
    padding-bottom: 60px;
}

.sectionTitle,
.relatedMovies-title,
.personMovies-title {
    font-size: 1.8rem;
    font-weight: var(--font-weight-title2);
    margin: 0 10px 20px;
}

.generic .preview-movieList,
.relatedPreview-movieList,
.personRelated-movieList,
.collectionRelated-movieList {
    width: 100%;
    max-width: 330px;
    min-width: 330px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.generic .preview-movieList .movie-container,
.moviesRelatedPreview .relatedPreview-movieList .movie-container,
.personRelated-movieList .movie-container,
.collectionRelated-movieList .movie-container {
    width: 100%;
    display: grid;
    gap: 5px;
    background: var(--pickled_bluewood);
    grid-template-columns: 1fr 2fr;
    border-radius: 8px;
}

.generic .characteristics,
.moviesRelatedPreview .characteristics,
.personRelated-movieList .characteristics,
.collectionRelated-movieList .characteristics {
    align-self: center;
}

.generic .characteristics h4,
.moviesRelatedPreview .characteristics h4,
.personRelated-movieList .characteristics h4,
.collectionRelated-movieList .characteristics h4 {
    overflow: hidden;
    height: auto;
    text-overflow: ellipsis;
    width: 150px;
}

.generic .characteristics span,
.moviesRelatedPreview .characteristics span,
.personRelated-movieList .characteristics span,
.collectionRelated-movieList .characteristics span {
    color: var(--purple-light);
}

.generic .preview-movieList .movie-container .movieDetails-score,
.moviesRelatedPreview .relatedPreview-movieList .movie-container .movieDetails-score,
.personRelated-movieList .movie-container .movieDetails-score,
.collectionRelated-movieList .movie-container .movieDetails-score {
    right: 3px;
    top: 66px
}

.personDetail-name,
.personDetails-description h3 {
    margin: 20px;
}

.PersonalInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.PersonalInfo div {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
}

.PersonalInfo div:nth-child(5) {
    width: 100%;
}

.PersonalInfo div:nth-child(5) h4{
    width: 75%;
}

.PersonalInfo div:nth-child(5) span{
    width: 75%;
}

.PersonalInfo h4 {
    width: 150px;
}

.PersonalInfo span {
    width: 150px;
    color: var(--text-color);
}

.PersonalInfo .personBio,
.collectionOverview {
    display: block;
    margin: 10px 5px;
    color: var(--purple-light);
    height: 50px;
    overflow: hidden;
}

.readMore_btn {
    width: 80px;
    padding: 6px;
    border-radius: 8px;
    justify-content: center;
}

.PersonalInfo .show {
    height: auto;
}

/* Footer */

.footer {
    width: 100%;
    height: 40px;
    background-color: var(--background-footer-pickled_bluewood);
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 5px;
    right: 0;
    z-index: 101;
}

.footer svg:hover {
    fill: var(--color-botones-hover);
}



.inactive {
    display: none;
}

/* Media Query */

@media screen and (min-width: 768px) {
    .menu {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 10px 25px;
        background-color: transparent;
    }

    .button-menu {
        display: none;
    }

    .mainHeader {
        width: auto;
        line-height: 40px;
    }

    .main-nav {
        position: static;
    }

    #nav {
        width: auto;
        margin: auto;
    } 

    #nav ul {
        width: 155px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        line-height: 30px;
    }

    #nav li {
        left: 10px;
    }

    #nav li li {
        left: -2px;
        top: -35px;
    }

    #nav ul li a {
        width: 90px;
        height: 28px;
        border: 2px solid transparent;
    }

    #nav ul ul {
        display: block;
        position: absolute;
        visibility: hidden;
        width: 90px;
        top: 59px;
        padding: 0;
    }

    #nav ul li:hover ul {
        display:block;
        visibility: visible;
    }

    .containerMnu {
        width: auto;
        position: relative;
    }

    .generic .preview-movieList {
        max-width: none;
        min-width: none;
    }

    .generic .preview-movieList .movie-container {
        width: 48%;
    }
}
@media screen and (min-width: 1024px) {
    .generic .preview-movieList {
        max-width: none;
        min-width: none;
    }

    .generic .preview-movieList .movie-container {
        width: 20%;
    }

    .movieDetails {
        width: 70%;
        align-items: center;
    }
    
    .movieDetails-image,
    .movieCollection-img {
        width: 35%;
    }
    
    .movieDetails-characteristics {
        width: 50%;
    }
    
    .movieDetails-duration {
        width: 50%;
    }
    
    .movieDetails-genres {
        width: 50%;
    }

    .movieDetails-collectionsBtn {
        width: 25%;
    }

    .movieDetails-credits {
        width: 60%;
    }

    .preview-header {
        margin: 15px;
    }

    .preview-movieList,
    .movieDetails-credits-persons {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .generic .preview-movieList,
    .relatedPreview-movieList,
    .personRelated-movieList,
    .collectionRelated-movieList {
        width: 100%;
        max-width: 330px;
        min-width: 330px;
        display: flex;
        justify-content: center;
        gap: 8px;
        align-items: center;
        flex-wrap: wrap;
    }

    .generic .preview-movieList .movie-container,
    .moviesRelatedPreview .relatedPreview-movieList .movie-container,
    .personRelated-movieList .movie-container,
    .collectionRelated-movieList .movie-container {
        width: 100%;
        display: grid;
        gap: 5px;
        background: var(--pickled_bluewood);
        grid-template-columns: 1fr 2fr;
        border-radius: 8px;
    }
    /* .movieDetails-score {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        color: var(--text-color);
        background: var(--button1);
        border-radius: 100%;
        position: absolute;
        right: 12px;
    }
    
    
    .movieDetailsDuration {
        color: var(--text-color);
        font-weight: var(--font-weight-title1);
        border-radius: 8px;
    }
    
    .movieDetailsStatus {
        color: var(--background-detalles);
        font-weight: var(--font-weight-title1);
    }
    
    
    .movieDetails-description {
        width: 100%;
        display: flex;
        justify-content: center;
        color: var(--text-color);
        word-break: line-all;
        margin-bottom: 20px;
    }
    
    .movieDetails-collections {
        width: 100vw;
        display: flex;
        justify-content: center;
        position: relative;
    }
    
     */
}